@charset "utf-8";

/* ------------ */
/* base */
/* ------------ */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  color: #333;
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif,'Noto Sans JP', sans-serif;
}
img {
  width: 100%;
  vertical-align: bottom;
}
.section {
  padding-bottom: 150px;
}
.section:first-of-type {
  padding-top: 100px;
}
.section:last-of-type {
  padding-bottom: 50px;
}
.section__inner {
  padding: 0 80px;
}
.section__title {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 70px;
}

/* ------------ */
/* header */
/* ------------ */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 74px;
  background-color: #1B1310;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  height: inherit;
  position: relative;
}
.header__title {
  font-size: 2.6rem;
}
.header__logo {
  color: #fff;
  text-decoration: none;
}
.header-hamburger {
  display: none;
}
.header-nav__list {
  display: flex;
}
.header-nav__item {
  margin-right: 55px;
}
.header-nav__item:last-of-type {
  margin-right: 0;
}
.header-nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
.mask {
  display: none;
}

/* ------------ */
/* hero */
/* ------------ */
.hero {
  margin-top: 74px;
  background-image: url(../img/download-hero.png);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}
.hero__title {
  font-size: 5rem;
  border: 1px solid #fff;
  padding: 35px 42px;
  color: #fff;
  letter-spacing: .05em;
}

/* ------------ */
/* main */
/* ------------ */
.main__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 85px;
}

/* ------------ */
/* about */
/* ------------ */
.about-content__title {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2;
  margin-bottom: 40px;
}
.about-content__desc {
  font-weight: bold;
  line-height: 2.14;
}

/* ------------ */
/* service */
/* ------------ */
.service-content__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px 70px;
}
.service-content__img {
  max-width: 480px;
}
.service-content__text {
  max-width: 480px;
}
.service-content__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 40px;
}
.service-content__desc {
  font-weight: bold;
}
.service-content__item--reverse {
  margin-bottom: 50px;
  flex-direction: row-reverse;
}

/* ------------ */
/* news */
/* ------------ */
.news-group__list {
  display: flex;
  justify-content: space-between;
}
.news-group__item {
  width: 30%;
  border: 1px solid #707070;
  box-sizing: border-box;
}
.news-group__link {
  color: #141414;
  text-decoration: none;
}
.news-group__desc {
  padding: 25px 32px;
  font-size: 1.3rem;
}

/* ------------ */
/* contact */
/* ------------ */
.contact-area {
  max-width: 700px;
  margin: 0 auto;
}
.contact-area__input {
  width: 100%;
  margin-bottom: 25px;
  box-sizing: border-box;
}
.contact-area__textarea {
  width: 100%;
  height: 170px;
  box-sizing: border-box;
}
.link {
  text-align: center;
  margin-top: 50px;
}
.link__btn {
  color: #fff;
  font-size: 2rem;
  background-color: #1B1310;
  padding: 20px 97px;
  display: inline-block;
  text-decoration: none;
  border-radius: 30px;
  width: 235px;
  box-sizing: border-box;
}

/* ------------ */
/* footer */
/* ------------ */
.footer {
  background-color: #1B1310;
  text-align: center;
}
.footer__copy {
  padding: 30px 0;
  color: #fff;
}

@media screen and (max-width:768px) {

  /* ------------ */
  /* base_sp */
  /* ------------ */
  .section__inner {
    padding: 0;
  }

  /* ------------ */
  /* header_sp*/
  /* ------------ */
  .header__inner {
    padding: 0 15px;
  }
  .header-nav {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #1B1310;
  }
  .header-nav.close {
    display: block;
  }
  .header-nav__list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .header-nav__item {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .header-hamburger {
    display: block;
    /* position: relative; */
    width: 25px;
    height: 16px;
    transition: all .5s;
    cursor: pointer;
    z-index: 4;
    position: fixed;
    top: 30px;
    right: 15px;
  }

  .header-hamburger__item {
    /* display: block; */
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition: all .5s;
    /* transform: translateX(-50%); */
  }
  .header-hamburger__item:nth-child(1) {
    top: 0;
  }
  .header-hamburger__item:nth-child(2) {
    top: 8px;
  }
  .header-hamburger__item:nth-child(3) {
    top: 16px;
  }

  /*
  ハンバーガーメニューの線の設定（メニューが開いている時）
  線の色を白に変更
  */
  .open .header-hamburger__item {
    background-color: #fff;
  }

  .header-hamburger__item.close:nth-child(1) {
    transform: translate(0, 10px) rotate(45deg);
    transition: transform .3s;
  }
  .header-hamburger__item.close:nth-child(2) {
    opacity: 0;
    transition: transform .3s;
  }
  .header-hamburger__item.close:nth-child(3) {
    transform: translate(0, -6px) rotate(-45deg);
    transition: transform .3s;
  }
  .mask {
    display: none;
    transition: all 0.5s;
  }
  /*
  メニューを開いている時は、全体を黒背景にする
  */
  .open .mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1B1310;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }

  /* ------------ */
  /* hero_sp */
  /* ------------ */
  .hero__title {
    font-size: 3rem;
  }

  /* ------------ */
  /* main_sp */
  /* ------------ */
  .main__inner {
    padding: 0 15px;
  }

  /* ------------ */
  /* service_sp */
  /* ------------ */
  .service-content__item {
    display: block;
    gap: 0;
  }
  .service-content__text {
    margin: 0 auto;
    width: 100%;
  }
  .service-content__title {
    font-size: 2.0rem;
    margin-bottom: 30px;
  }
  .service-content__desc {
    margin-bottom: 40px;
    width: 100%;
  }
  .service-content__img {
    width: 100%;
    margin: 0 auto;
  }
  .service-content__item--reverse {
    margin-bottom: 50px;
  }

  /* ------------ */
  /* news_sp */
  /* ------------ */
  .news-group__list {
    display: block;
  }
  .news-group__item {
    width: 100%;
    margin-bottom: 50px;
  }
  .news-group__item:last-of-type {
    margin-bottom: 0;
  }

  /* ------------ */
  /* contact */
  /* ------------ */
  .contact-area {
    /* width: 100%; */
    max-width: none;
    margin: 0;
  }

}